<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">

    <!--servlet을 xml로 설정하는 코드-->
    <!--<servlet>
        <servlet-name>na</servlet-name>
        <servlet-class>com.newlecture.web.Nana</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>na</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>-->

    <!--filter를 xml로 설정하는 코드-->
    <!--<filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.newlecture.web.filter.CharacterEncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>

        &lt;!&ndash;모든 url에 대하여 반드시 동작한다.&ndash;&gt;
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
</web-app>
